<div class="card">
    <div class="card-header bg-dark text-white">
        Quick Links
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="{% url 'films:movies-create' %}" class="text-dark">Add New Movie</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'films:movies-list' %}" class="text-dark">View All Movies</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'films:movies-list' %}" class="text-dark">Top Rated Movies</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'films:movies-cards' %}" class="text-dark">Movies list cards</a>
        </li>
    </ul>
</div>
