<div class="container">
    <div class="row mt-4">
        {% for movie in movies %}
        <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".2s">
            <div class="card shadow-lg">
                <img src="{{ movie.poster.url }}" class="card-img-top" alt="{{ movie.title }}" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h3 class="h5 card-title"><a href="{% url 'films:movies-detail' movie.pk %}">{{ movie.title }}</a></h3>
                    <h5 class="h6 mb-3 text-muted">Director: {{ movie.director }}</h5>
                    <p class="card-text">{{ movie.description|truncatewords:15 }}</p>
                    <div class="meta meta-style2">
                        <ul class="list-unstyled">
                            <li><i class="fas fa-calendar-alt"></i> {{ movie.release_date|date:"d M Y" }}</li>
                            <li><i class="fas fa-clock"></i> Duration: {{ movie.duration }}</li>
                            <li><i class="fas fa-dollar-sign"></i> Budget: ${{ movie.budget }}</li>
                        </ul>
                    </div>
                    <a href="{% url 'films:movies-detail' movie.pk %}" class="btn btn-outline-dark mt-3">More Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
