{% extends 'base.html' %}

{% block title %}{{ movie.title }} - Details{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>{{ movie.title }}</h1>
            <p><strong>Director:</strong> {{ movie.director }}</p>
            <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
            <p><strong>Duration:</strong> {{ movie.duration }}</p>
            <p><strong>Genre:</strong> {{ movie.genre.name }}</p>
            <p><strong>Budget:</strong> ${{ movie.budget }}</p>
            <p><strong>Description:</strong> {{ movie.description }}</p>
            
            {% if movie.poster %}
                <img src="{{ movie.poster.url }}" alt="Poster for {{ movie.title }}" class="img-fluid mt-3">
            {% else %}
                <img src="media/default.png" alt="No poster available" class="img-fluid mt-3">
            {% endif %}

            <div class="mt-3">
                <a href="{% url 'films:movies-update' movie.pk %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'films:movies-delete' movie.pk %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'films:movies-list' %}" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
{% endblock %}
